*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.text {
  font-family: "Inter-Variable", "Arial", sans-serif;
  font-weight: var(--main-font-weight);
  color: var(--main-color);
}

.check-list {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(53, 121, 245, 1);
  width: 743px;
  height: 91px;
  border-radius: 10px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card__content_title {
  text-align: center;
  font-size: calc(var(--button-font-size) - 2px);
  line-height: calc(var(--button-line-height) - 2px);
  background-color: var(--decorated-zone-color);
  border-radius: 40px;
  padding: 0px 10px;
  width: 76px;
  height: 18px;
}

.card__content_text-progress {
  font-size: calc(var(--button-font-size) + 1px);
  line-height: var(--button-line-height);
  font-weight: var(--header-font-weight);
}

.card__content_next-action {
  line-height: 18px;
  font-size: 12px;
  font-weight: var(--main-font-weight);
}

.check-list__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 76px;
  margin: 16px 18px 15px 22px;
}

.card-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 68px;
}

/* .progress {
  display: flex;
  justify-content: center;
  align-items: center;
	position: relative;
  width: 60px;
  height: 60px;
	font-family: var(--main-font);
	color: var(--main-color);
	line-height: 30px;
	font-size: 20px;
	font-weight: var(--main-font-weight);
  border: 2px solid var(--main-color-opacity);
  border-radius: 50%;
} */

/* .circle{
  position: absolute;
	width: 60px;
  height: 60px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
} */

.open-check-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  color: var(--accent-text-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 6px;
  width: 170px;
  height: 40px;
  cursor: pointer;
}

.open-check-list:focus {
  outline: none;
}

.progress-bar-wrapper {
  position: relative;
  top: 12px;
  left: -8px;
  display: block;
  height: 100px;
}

.center-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background: transparent;
  transform: translate3d(15px, 15px, 0);
  z-index: 3;
}

.sector {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  transform: translate3d(7px, 7px, 0);
  z-index: 2;
  display: block;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  background-image: linear-gradient(0deg, transparent 50%, white 15%),
    linear-gradient(90deg, white 50%, transparent 50%);
  animation: background 10s infinite;
}

@keyframes background {
  0% {
    background-image: linear-gradient(0deg, white 50%, transparent 50%),
      linear-gradient(51deg, white 50%, transparent 50%);
  }
  14% {
    background-image: linear-gradient(51deg, white 50%, transparent 50%),
      linear-gradient(102deg, white 50%, transparent 50%);
  }
  29% {
    background-image: linear-gradient(102deg, white 50%, transparent 50%),
      linear-gradient(153deg, white 50%, transparent 50%);
  }
  44% {
    background-image: linear-gradient(153deg, white 50%, transparent 50%),
      linear-gradient(204deg, white 50%, transparent 50%);
  }
  57% {
    background-image: linear-gradient(204deg, white 50%, transparent 50%),
      linear-gradient(255deg, white 50%, transparent 50%);
  }
  72% {
    background-image: linear-gradient(255deg, white 50%, transparent 50%),
      linear-gradient(306deg, white 50%, transparent 50%);
  }
  85% {
    background-image: linear-gradient(306deg, white 50%, transparent 50%),
      linear-gradient(360deg, white 50%, transparent 50%);
  }
  100% {
    background-image: linear-gradient(360deg, white 50%, transparent 50%),
      linear-gradient(360deg, white 50%, transparent 50%);
  }
}
